{% include 'sitio/cabecera.html' %}

<div class="col-md-12">
    <div class="card">
        <img class="card-img-top" src="https://lirp.cdn-website.com/b5131bd5/dms3rep/multi/opt/Hasta+cu%C3%A1ntas+velocidades+tienen+los+camiones+trailers-1920w.jpg" alt="Title">
        <div class="card-body">
            <h4 class="card-title">¿Quienes somos?</h4>
           
            <p class="card-text">
                Transportes Zamudio es una empresa 100% mexicana, con una gran experiencia en el mercado ya que tiene mas de 20 años de experiencia. Desde sus inicios a encaminado sus esfuerzos en proporcionar un servicio de primera calidad al entregar la mercancía a sus clientes con rapidez, eficiencia, seguridad en todos sus destinos.
            </p>
        </div>
    </div>
</div>
<br>

    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://lirp.cdn-website.com/b5131bd5/dms3rep/multi/opt/Hasta+cu%C3%A1ntas+velocidades+tienen+los+camiones+trailers-1920w.jpg" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Misión</h4>
                   
                    <p class="card-text">
                        Somos una compañía de Transporte y Logística competitiva que ofrece sus servicios de carga completa y consolidada a la industria en general. Siempre orientándonos a cumplir la satisfacción de los requerimientos de nuestros clientes y socios comerciales, de manera puntual y segura, ofreciéndoles siempre el mejor trato y atención
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://laopcion.com.mx/__export/sites/laopcion/img/2022/01/21/7jGF2gTvdolZSm6r.jpg" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Visión</h4>
                    
                    <p class="card-text">
                        Ser una empresa comprometida con el servicio y generadora de soluciones que día a día excedan las necesidades y expectativas de la industria. 
   

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://media.istockphoto.com/id/1313941155/es/foto/potente-cabina-de-d%C3%ADa-azul-gran-plataforma-semi-cami%C3%B3n-con-furgoneta-seca-semi-remolque-que.jpg?s=612x612&w=0&k=20&c=N4PqdXY8gpTeIuZv1HeGqsCqdpUpDB0E8YY5h2dCkMY=" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Política de Servicio</h4>
                    
                    <p class="card-text">
                        Sabemos lo importante que es lograr la satisfacción de nuestros clientes, por lo que nos hemos comprometido a mejorar constantemente el servicio, ofreciéndoles el más alto nivel de calidad,  proporcionando servicios de auto transporte de carga terrestre del más alto nivel de seguridad y confiabilidad.
   

                    </p>
                </div>
            </div>
        </div>      
    </div>







{% include 'sitio/pie.html' %}