{% include 'sitio/cabecera.html' %}
<div class="row">
<div class="col-md-6">
    <div class="card">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/cami%C3%B3n-con-los-paquetes-y-de-plataforma-las-cajas-cart%C3%B3n-freigh-123596197.jpg" alt="Title">
        <div class="card-body">
            <h4 class="card-title">Cajas</h4>
           
            <p class="card-text">
                Transportamos merncacia apta para caja seca  (no perecedero).
                <br>
                <br>
                Contamos con unidades de 80 mts a 120 mts y de 35 a 80 mts 
            </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdu_iCrDDsFC1oLyOzpavFL-YQZWfU6NbaqA&usqp=CAU" alt="Title">
        <div class="card-body">
            <h4 class="card-title">Destinos</h4>
           
            <p class="card-text">
                Algunos de nuestros lugares de entrega son:
                <br>
                
                <ul type="A">
                    <li>San Luis Potosi</li>
                    <li>Saltillo</li>
                    <li>Durango</li>
                    <li>Torreón</li>
                    <li>Zacatecas</li>
                    <li>Matamoros</li>
                    <li>Reynosa</li>
                </ul>
                <br>
                Si requiere algun otro destino, el cual no esté en esta lista, es recomendable que se ponga en contacto.
            </p>
        </div>
    </div>
</div>
</div>
{% include 'sitio/pie.html' %}