{% include 'sitio/cabecera.html' %}
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Transportes Zamudio</h1>
            <p class="lead">Servicio de transporte de mercancía </p>
            <hr class="my-2">
            <p>A continuación en el siguiente botón, podrán ver una idea de las tarifas que manejamos en transportes Zamudio, sin embargo estas pueden variar hasta un 15% dependiendo de el peso de la carga y permisos especiales para el transporte de la misma</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://docs.google.com/spreadsheets/d/1nLO4q0-XfEb161r35lDfyk3rOlgxqMrx/edit?usp=sharing&ouid=101027806388516518278&rtpof=true&sd=true" role="button">Tarifas</a>
            </p>
        </div>
    </div>
    {% include 'sitio/pie.html' %}
      
